body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

button {
    margin: 8px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.correct {
    background: green;
}

.wrong {
    background: red;
}

.hide {
    display: none;
}

#nextBtn {
    background: #3b82f6;
    color: white;
}

#answers button {
    background: #334155;
    color: white;
}
.answer-btn {
    background: #334155;
    color: white;
}

.selected {
    border: 2px solid yellow;
}

.correct {
    background: green !important;
}

.wrong {
    background: red !important;

.quiz-container {
    backdrop-filter: blur(10px);
}